{% extends "base.html" %}
{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="container">
    {% for new in news %}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/{{ new.image }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ new.title }}</h5>
                <p class="card-text">{{ new.resume }}</p>
                <a href="{% url 'news' new.id %}" class="btn btn-primary">Read More</a>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}